page-home {
    
    p{
        color: color($colors,secondary);
        text-align: right;
    }
    h2,h1{
        color:color($colors,light);
        text-align: center;
    }
    span{
        font-weight: bold;
    }
    .fondo{
        background-image: url('../../assets/imgs/Group\ 21.png');
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
        background-origin: content-box;
        width: 100%;
        height: 104%;
        margin-left: -5px;
    }
    .contenido{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo{
        background-image: url('../../assets/imgs/Group\ 20.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain; 
        width: 100%;
        height: 13vh;
    }
    .margin-bottom-logo{
        margin-bottom: 3vh;
    }
    .layout{
        height: 100%;
        width: 100%;
        max-width:400px;
        display: flex;
        align-items:center;

    }
    ion-item:nth-child(1){
        .item-inner {
            border-bottom:none !important;
        }
    }
    ion-item:nth-child(2),ion-item:nth-child(3){
        .item-inner {
            border-bottom:1px solid color($colors,primary) !important;
        }
    }
    .cien{
        width: 100%;
        display:flex;
        justify-content: flex-end;
    }
    .cienh{
        height: 100%;
    }

    @media screen and (max-width:550px) {

        .fondo{
            display:none;
        }
        
    }

}
